@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
}

body {
    background: url('assets/bg.jpg');
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
}

/* UTILITIES */
.regularTxt {
    font-weight: 400;
}

/* END UTILITIES */

.mainContainer {
    border: solid;
    width: 300px;
    height: 496px;
    z-index: 1;
    background: linear-gradient(to top, rgb(255, 255, 255, 0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;
}

/* INPUT CONTAINER */
.inputContainer {
    position: relative;
    margin-bottom: 20px;
}

.cityInput {
    width: 100%;
    padding: 10px 16px;
    padding-right: 45px;
    border-radius: 30px;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
}

.cityInput:focus {
    border: 3px solid rgb(0, 0, 0, 0.15);
}

.cityInput::placeholder {
    color: rgb(255, 255, 255, 0.75);
}

.searchBtn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}

.searchBtn i {
    font-size: 16px;
}

/* END INPUT CONTAINER */

/* SECTION: WEATHER INFO */
.weatherInfo {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.locationDateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.weatherSummaryContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weatherSummaryImg {
    height: 120px;
    width: 120px;
}

.weatherSummaryInfo {
    text-align: end;
}

.weatherConditionsContainer {
    display: flex;
    justify-content: space-between;
}

.conditionItem {
    display: flex;
    align-items: center;
    gap: 6px;
}

.conditionItem i {
    font-size: 30px;
}

.forecastItemsContaier {
    display: flex;
    gap: 15px;
    overflow: scroll;
    padding-bottom: 12px;
}

.forecastItemsContaier::-webkit-scrollbar {
    height: 8px;
}

.forecastItemsContaier::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}

.forecastItemsContaier::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
}

.forecastItem {
    min-width: 70px;
    background-color: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 10px;
    border-radius: 12px;
    transition: 0.3s background;
}

.forecastItem:hover {
    background: rgb(255, 255, 255, 0.15);
}

.forecastItemImg {
    width: 35px;
    height: 35px;
}

/* END SECTION: WEATHER INFO */

/* SECTION: MESSAGE */
.sectionMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 25%;
}
.sectionMessage img {
    height: 180px;
    width: fit-content;
}
/* END SECTION: MESSAGE */

/* SEARCHING LOADER  */
.loader {
    justify-content: center;
    gap: 10px;
}
.loader span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.434);
    opacity: 1;
}
#dot1 {
    animation: hide 2s ease 2s infinite alternate;
}
#dot2 {
    animation: hide 1s ease 1s infinite alternate;
}
#dot3 {
    animation: hide 1.5s ease 1.5s infinite alternate;
}
@keyframes hide {
    100% {
        opacity: 0;
    }
}
/* END SEARCHING LOADER  */