* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #574945;
}

body {
  background: linear-gradient(135deg, #f9d387, #ed997f);
}

.container {
  width: 97%;
  min-height: 85vh;
  height: auto;
  background-color: #fff;
  margin: 30px auto;
  border-radius: 10px;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: #f9f5f2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 120px;
  height: 40px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.logo img:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.5s ease;
}

.inputBar {
  display: flex;
  position: relative;
  width: 350px;
  height: 35px;
}

#inputRecipe {
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #fff !important;
}

#searchRecipe {
  height: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  position: absolute;
  right: 0;
  color: white;
  background: linear-gradient(135deg, #f8d18d, #f69582);
}

#searchRecipe:hover {
  cursor: pointer;
  background: linear-gradient(135deg, #fcca73, #fd7d64);
}

#searchRecipe i {
  color: white;
}

.bookMarks:hover {
  cursor: pointer;
  border-bottom: 1px solid gray;
}

.allrecipes {
  display: flex;
  min-height: 100%;
  border-radius: 10px;
}

.totalRecipes {
  width: 350px;
  height: 68vh;
  overflow-y: scroll;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border-bottom-left-radius: 10px;
}

.recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.recipe:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.recipeImg {
  height: 50px;
  width: 55px;
  border-radius: 50%;
  overflow: hidden;
}

.recipeImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recipeDetail {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.recipeName {
  width: 100%;
  height: 20px;
  overflow-y: hidden;
}

.recipeData {
  width: 100%;
  background-color: #f9f5f2;
  border-bottom-right-radius: 10px;
}

.initialText {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 50px;
}

#cross {
  background: linear-gradient(135deg, #f9d387, #ed997f);
  border: none;
  display: none;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  right: 25px;
  top: 110px;
  z-index: 1;
}

#cross:hover {
  background: linear-gradient(135deg, #fcca73, #fd7d64);
  cursor: pointer;
}

#cross i {
  color: white;
  font-size: 16px;
}

.foodImg {
  width: 100%;
  height: 250px;
  background: linear-gradient(135deg, #f9d387, #ed997f);
}

.foodImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

i {
  color: #f0896a;
}

.foodName {
  background: linear-gradient(135deg, #f9d387, #ed997f);
  color: white;
  height: 40px;
  width: 300px;
  overflow: hidden;
  text-align: center;
  padding: 8px 15px;
  font-weight: 600;
  font-size: 25px;
  font-style: italic;
  transform: rotate(-5deg);
  margin: auto;
  margin-top: -30px;
}

.timeAndServings {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 35px 70px;
  background-color: #F9F5F2;
}

.bookMark {
  background: linear-gradient(135deg, #f9d387, #ed997f);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookMark i {
  color: white;
}

.recipeIngredients {
  padding: 70px;
  background-color: #F3EFEE;
}

.pinkish {
  background-image: linear-gradient(135deg, #E58F81, #F2B582);
  /* Clip the background to only the text area */
  -webkit-background-clip: text;
  /* For compatibility with older webkit browsers */
  background-clip: text;
  /* Make the actual text transparent so the background shows through */
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.ingredientsHeading {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

.ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.ingredients li {
  display: flex;
  gap: 6px;
  list-style: none;
}

.tick {
  color: #f0896a;
}

.howToCook {
  padding: 35px 70px;
  background-color: #F9F5F2;
}

.cookHeading {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

@media screen and (max-width: 900px) {
  .timeAndServings {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 35px 10px;
  }

  .recipeIngredients {
    padding: 10px;
  }

  .howToCook {
    padding: 35px 10px;
    text-align: center;
  }


  .inputBar {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  * {
    font-size: 14px;
  }

  .bookMarks {
    display: none;
  }

  .recipeName {
    height: 15px;
  }

  .survingsChoose,
  .bookMark {
    display: none;
  }

  .ingredients {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }

  .allrecipes {
    width: 100%;
  }

  .recipeData {
    width: 55%;
  }

  .totalRecipes {
    width: 45%;
  }

  .foodName {
    width: 90%;
    font-size: 18px;
    height: 30px;
  }

  .ingredientsHeading,
  .cookHeading {
    font-size: 18px;
    margin-bottom: 10px;

  }

  .howToCook {
    padding-top: 10px;
  }

  #cross {
    right: 20px;
  }

}


@media screen and (max-width: 500px) {
  .allrecipes {
    width: 100%;
    position: relative;
  }

  .recipeData {
    width: 75%;
    height: 100%;
    position: absolute;
    right: 0px;
    display: none;
    box-shadow: -3px 0 3px #efc2a0;
  }

  .totalRecipes {
    width: 100%;
  }

  .timeAndServings {
    flex-direction: column;
    padding: 35px 10px;
  }

  .foodName {
    width: 90%;
    font-size: 18px;
    height: 30px;
  }

  #cross {
    top: 10px;
    right: 10px;
  }

}